@import url("https://fonts.googleapis.com/css? family=Poppins: 100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.AppTwo {
  width: 100%;
  height: 70px;
  color: #a52a2a;
  top: -40px;
  position: relative;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 0px grey solid;
  color: white;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.AppTwo .logo {
  height: 30px;
  background-color: none;
  position: absolute;
  border: 0px black solid;
  top: -35px;
  left: 10px;
  height: 40px;
}

.AppTwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 70px;
  top: -50px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0px white solid;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  font-weight: bolder;
  margin-left: -250px;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.AppTwo ul li {
  position: relative;
  list-style: none;
  width: 135px;
  height: inherit;
  z-index: 1;
  color: black;
}

.AppTwo ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: black;
}

.AppTwo ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 2em;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  font-family: verdana;
  font-weight: bolder;
  text-shadoW: 22px 25px 25px white;
}

.AppTwo ul li a .text {
  position: absolute;
  color: black;
  font-weight: 400;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0px 0px 5px white;
  opacity: 0;
}

#tohide {
  display: inline-block;
  width: 1300px;
  height: 450px;
  position: absolute;
  top: 100px;
  left: 0px;
  font-size: 18px;
  background-color: none;
  font-family: Trebuchet MS;
}

#tohide .tea {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  margin-right: 20px;
  background-color: none;
  height: 100px;
  position: relative;
  top: 50px;
  left: -280px;
  color: black;
  border: 0px black solid;
}

#tohide .teal {
  font-weight: bolder;
  float: left;
  font-size: 30px;
  color: black;
  position: relative;
  left: 50px;
}

.AppTwo ul li:hover a .text {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.AppTwo ul li:hover a .icon {
  -webkit-transform: translateY(-32px);
  transform: translateY(-35px);
}

.indicator {
  position: absolute;
  top: -50%;
  left: 3%;
  width: 70px;
  height: 70px;
  background-color: #29fd53;
  border-radius: 50%;
  border: 6px solid #222327;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -18px;
  width: 35px;
  height: 30px;
  left: -35px;
  background-color: transparent;
  border-top-right-radius: 20px;
  border-radius: 0px -10px 0px 0px #222327;
  -webkit-box-shadow: 0px -10px 0 0 #222327;
          box-shadow: 0px -10px 0 0 #222327;
}

.indicator::after {
  content: "";
  position: absolute;
  right: -22px;
  top: 30px;
  width: 35px;
  height: 30px;
  right: -35px;
  background-color: transparent;
  border-top-left-radius: 20px;
  border-radius: 0px -10px 0px 0px #222327;
  -webkit-box-shadow: 0px -10px 0 0 #222327;
          box-shadow: 0px -10px 0 0 #222327;
}

.Spanna {
  width: 900px;
  background-color: none;
  font-weight: bolder;
  font-size: 30px;
  height: 40px;
  position: absolute;
  float: left;
  left: 50px;
  top: 28%;
  text-align: left;
  color: black;
}

.teaml {
  position: absolute;
  height: 450px;
  left: 0px;
  top: 31%;
  background-color: none;
  color: black;
  text-align: left;
  left: 50px;
  font-family: 'Montserrat', sans-serif;
}

.teaml .team {
  display: inline-block;
  width: 220px;
  height: 300px;
  margin-right: 40px;
  line-height: 1.8;
  font-size: 18px;
  border: 0px black solid;
  padding-top: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sharp {
  position: absolute;
  width: 100%;
  height: 500px;
  font-size: 15px;
  display: inline-block;
  background-color: none;
  border-top: 1px black solid;
  color: black;
  border-top: 5px white solid;
  font-family: 'Montserrat', sans-serif;
  left: 00px;
  top: 80px;
  text-align: start;
}

.sharp .korope {
  display: inline-block;
  position: relative;
  background-color: white;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
}

.sharp .korope .tellU {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.sharp .korope .tellU:active {
  text-decoration: none;
  color: BLACK;
  font-family: 'Montserrat', sans-serif;
}

.sharp .korope .tellU:hover {
  color: rgba(122, 122, 122, 0.5);
}

.gaskia {
  position: absolute;
  background-color: none;
  width: 500px;
  height: 50px;
  font-size: 13px;
  top: 30px;
  left: 70%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
}

.gaskia .niran {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.gaskia .niran:active {
  text-decoration: none;
  color: none;
}

.gaskia .niran:hover {
  text-decoration: none;
  color: none;
}

#dide {
  position: absolute;
  width: 800px;
  height: 450px;
  left: 300px;
  top: 50px;
  border: 4px white solid;
  background-image: url("bcd.jpg");
  background-size: cover;
  font-size: 45px;
  font-weight: bolder;
  font-family: Malgun Gothic;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 15%;
}

#dide #israel {
  display: inline-block;
  position: relative;
  width: 94%;
  height: 80px;
  border: 5px white solid;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
  text-shadow: 1px 1px 2px grey;
}

#appTri {
  display: inline-block;
  position: relative;
  width: 80%;
  height: 500px;
  top: 550px;
}

.eleru {
  position: absolute;
  display: inline-block;
  font-size: 30px;
  color: black;
  width: 60%;
  height: 100px;
  left: 250px;
  background-color: none;
  font-weight: bolder;
  font-family: Malgun Gothic;
}

.panadol {
  position: absolute;
  display: inline-block;
  font-size: 20px;
  color: rgba(0, 0, 25, 0.8);
  width: 60%;
  height: 100px;
  left: 250px;
  background-color: none;
  top: 150px;
  font-family: Candara;
}

#hoho {
  position: absolute;
  display: inline-block;
  top: 250px;
  width: 85%;
  left: 90px;
  height: 409px;
  background-color: burlywood;
  border: 0px grey solid;
}

#sure {
  position: absolute;
  display: inline-block;
  top: 300px;
  width: 80%;
  height: 300px;
  font-size: 20px;
  font-weight: bolder;
  background-color: red;
  color: black;
  border: 5px;
}

#AppTri2 {
  position: relative;
  display: inline-block;
  background-image: url("fgh.jpg");
  background-size: 700px 400px;
  top: 400px;
  width: 60%;
  height: 400px;
  font-size: 20px;
  margin-left: 100px;
}

.eleru2 {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: black;
  width: 60%;
  height: 100px;
  left: 50px;
  background-color: none;
  top: 84%;
  font-weight: bolder;
}

.panadol2 {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: black;
  width: 60%;
  height: 300px;
  left: 50px;
  background-color: none;
  font-family: candara;
  top: 87%;
}

#think {
  position: relative;
  display: inline-block;
  background-image: url("ijk.jpg");
  top: 400px;
  width: 70%;
  height: 400px;
  font-size: 20px;
  margin-left: 100px;
  background-size: 70% 400px;
}

.eleru3 {
  position: relative;
  width: 700px;
  height: 500px;
  display: inline-block;
  background-color: none;
  font-size: 20px;
  border: 0px black solid;
  top: 400px;
  left: 50px;
  font-family: candara;
}
/*# sourceMappingURL=style.css.map */